$GIT_DIR/envs/
$GIT_DIR/notebooks/
$GIT_DIR/.ipynb_checkpoints/
$GIT_DIR/__pycache__/
$GIT_DIR/.ipynb_checkpoints
data/recipeitems-latest.json
resnet50_coco_best_v2.0.1.h5
token
debug.log
*.log
*.h5
*.jpg
*.txt
keras_training/dogs-vs-cats/sampleSubmission.csv
keras_training/dogs-vs-cats/test1.zip
keras_training/dogs-vs-cats/train.zip
keras_training/dogs-vs-cats.zip
yolo.h5
keras_training/cats_vs_dogs_small_2.h5
imageai-2.0.3-py3-none-any.whl
*.gz
*.vec
*.txt_err
keras_training/msg/messages.html
keras_training/msg/messages2.html
keras_training/8_style/style.png
keras_training/8_style/portrait.png
keras_training/.ipynb_checkpoints/8_stylized_image-checkpoint.ipynb
